[2014-10-22 18:05] elwayman02 opened #1 "socket event listeners are not camelCased"
onopen, onerror, etc, should be camelCased both for ease of use/reading and because the examples show action methods being defined with these names, so it violates generally accepted style guides

[2014-10-23 10:21] intuitivepixel opened #2 "socketContexts hash lookup fails if data.currentTarget.url does not contain a trailing slash"
In this line: https://github.com/thoov/ember-websockets/blob/master/addon/mixins/sockets.js#L33

[code]

you are using the `socketURL` as a key for the `socketContexts` hash. But then on this line: https://github.com/thoov/ember-websockets/blob/master/addon/mixins/sockets.js#L54

[code]

if the `data.currentTarget.url` does not contain a trailing slash it's cutting the key one char, which results

[2014-10-23 23:51] #2 closed, assigned to nobody

[2014-11-21 19:38] #1 closed, assigned to nobody

[2014-12-19 09:56] vhf opened #10 "setupController conflicts with ember-websockets"
I'm using the following code: https://gist.github.com/vhf/4080d7377b7c4f6c2859

Somehow, this does not work because of setupController. `onopen` does not log anything.

When I comment out the whole setupController, `onopen` logs correctly. I tried commenting out both setupController lines individually with no luck. As long as there is a setupController in my route, ember-websockets does not work.

[2014-12-19 19:21] #10 closed, assigned to nobody

[2014-12-23 20:40] knownasilya opened #12 "Add examples of how data is sent to different routes"
If it's even possible :smile:

Maybe a chat room example where a new route is a different room or something.

[2015-02-11 08:40] yratanov commented on #12
@thoov I believe I have related question. I have several chat rooms with routes e.g. `room/1`, `room/2`, etc.
Currently I have the following code:

[code]
So the socket url is updated every time route changes, but ember-websocket uses previously created socket anyway. How can I close/open socket when route changes? Am I doing something wrong?

[2015-02-11 08:49] yratanov commented on #12
ok, I ended up with this solution:
[code]

Not so pretty, but working...

[2015-02-11 19:07] thoov commented on #12
@yratanov Thanks for the question! Your first way that you listed should work but when I tested this locally I discovered a bug. The issue that you pointed out is that I was relying on the deactivate method to be called in order to indicate when I should close the socket. However if you have a route with a dynamic segment and you transition from say room/1 to room/123 then deactivate never gets ca

[2015-02-12 04:16] yratanov opened #16 "Wrap sockets with Promise object."
Current behavior:
1) User needs to emit some changes to the socket.
2) The socket is not connected yet (`readyState == CONNECTING`)
3) `emit` action does nothing.

Expected behavior.
1) User needs to emit some changes to the socket.
2) The socket wrapped with Promise. Socket state is `CONNECTING`
3) `emit` action binds send to promise's resolve handler.

Example (in coffee):

[code]

With this app

[2015-02-16 07:50] thoov commented on #12
I am closing this issue. I have updated the readme for both of these examples

[2015-02-16 07:50] #12 closed

[2015-02-27 17:56] thoov opened #19 "Add services for migration path to EmberJS 2.0"
Move to services that are injectable on components for when controllers are deprecated.

[2015-03-05 14:33] thoov opened #21 "Improved documentation"
Update the README and create a /docs folder which has more details explanations of examples, etc.

[2015-03-12 06:57] thoov opened #23 "Investigate supporting socket.io via generators"

[2015-03-12 07:01] thoov opened #24 "Deprecate non CLI app"
Add warning to the vendor files and remove the readme section

[2015-03-14 00:19] thoov commented on #24
For those visiting this issue from the deprecation message please do one of the following:

* Download this file here: [releases](https://github.com/thoov/ember-websockets/releases/tag/0.6.0)

* Upgrade to ember-cli and install via: `ember install:addon ember-websockets`

[2015-03-14 00:39] #24 closed

[2015-03-16 17:42] thoov commented on #19
[code]

[2015-03-16 20:25] Jordan4jc opened #26 "Does this only work with websocket protocol?"
I've been having troubles getting socket.io to work with this addon, is it because my server is not using the ws protocol?

[2015-03-16 22:52] thoov commented on #26
Yes, currently this is only for ws supported backends which socket.io is not. I recommend using [ws](https://www.npmjs.com/package/ws) which is a ws protocol supported node library. I plan to look into supporting [socket.io](https://github.com/thoov/ember-websockets/issues/23) in the future. I know of this [project](https://github.com/Wildhoney/EmberSockets) but I have never personally used it so

[2015-04-13 20:56] sebyx07 opened #28 "reconnect"
is there a way to retry reconnection ?

[2015-04-21 00:45] thoov commented on #28
@sebyx07 right now there is not a clean way of doing that. In my upcoming pull request (https://github.com/thoov/ember-websockets/pull/27) there will be support for that

[2015-04-22 02:13] thoov commented on #28
@sebyx07 I have merged my PR and it has recconnect support. You can see it here: https://github.com/thoov/ember-websockets#reconnecting

[2015-04-22 02:13] #28 closed

[2015-04-22 21:16] #21 closed

[2015-04-22 21:16] #19 closed

[2015-04-27 10:31] HT808s opened #30 "The `ember generate` command failed on installation"
### When I execute "ember install ember-websockets" on my brand new ember-cli application, my output is the following

version: 0.2.3
0.2.3

Installed packages for tooling via npm.
installing
Installing browser packages via Bower...
  not-cached git://github.com/medialize/URI.js.git#*
  resolved git://github.com/medialize/URI.js.git#1.15.0
Installed browser packages via Bower.
installing
The `embe

[2015-04-27 18:26] thoov commented on #30
@HT808s thanks for creating an issue about this and I am noticing this too. It looks like everything is working correctly even though the error is appearing. I will be looking into this tonight/tomorrow and see if I can get rid of the error.

[2015-04-27 18:29] HT808s commented on #30
Glad i coul help.
By the way the addon is working just fine !

[2015-04-29 00:29] thoov commented on #30
This issue seems to be with ember-cli: https://github.com/ember-cli/ember-cli/issues/3831& https://github.com/ember-cli/ember-cli/pull/3846. I believe this issue will be resolved once it is fixed in ember-cli

[2015-04-29 00:29] #30 closed

[2015-05-15 23:06] #26 closed

[2015-06-04 21:15] thoov opened #32 "Fix deprecation warnings in ember-canary"
https://travis-ci.org/thoov/ember-websockets/jobs/65476625

[2015-06-04 21:29] #32 closed

[2015-06-05 23:51] thoov opened #35 "Remove old mixin file and related tests"

[2015-06-09 21:13] #35 closed

[2015-06-09 21:14] thoov opened #37 "Better example page"

[2015-06-10 05:19] jackmatt2 opened #38 "Path or pattern "bower_components/uri.js/src/URI.min.js" did not match any files"
When install this and run my server `ember s` I get the following error:

[code]

[2015-06-10 17:39] thoov commented on #38
@jackmatt2 Thanks for opening this issue. I just ran these commands to test it the baseline:

[code]

And I want not able to get the error you mentioned. Can you give me some info on your setup (what version of ember-cli, are you running on windows)? Also can you let me know how you installed the addon?

[2015-06-10 22:35] jackmatt2 commented on #38
OS: Fedora Linux 20

[code]

Installed using `ember install ember-websockets` but get the error below while installing.
[code]
Path or pattern "bower_components/uri.js/src/URI.min.js" did not match any files
Error: Path or pattern "bower_components/uri.js/src/URI.min.js" did not match any files
    at Object.multiGlob (/home/jack/git/my-project/node_modules/ember-cli/node_modules/broccoli-kitchen-

[2015-06-11 08:28] thoov commented on #38
What happens if you run:

[code]

[2015-06-16 03:19] jackmatt2 commented on #38
@thoov Yes, that has fixed the issue.

[2015-06-16 03:20] #38 closed

[2015-06-19 23:00] #23 closed

[2015-06-26 11:31] Alimero opened #39 "InvalidStateError when closing and reconnecting"
Hi,

i get the following Error in Webbrowser when trying to reconnect or retriev a new websocket, after the old websocket gets closed (by the websocket client itself or the websocket server):

**"InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable"**

Here is an example. My websocket client is build like the example in the readme. Additionally i have a clic

[2015-06-26 17:27] thoov commented on #39
@Alimero I can help you out. Could you post some of your code so I can test it on my end?

[2015-06-29 09:12] Alimero commented on #39
@thoov Thanks. Here is the code.

    export default Ember.Controller.extend({
        socketService: Ember.inject.service('websockets'),
         init: function() {
            this._super.apply(this, arguments);
            var socket = this.get('socketService').socketFor(this.uri);
            socket.on('open', this.openHandler, this);
            socket.on('close', this.closeHandler, this);

[2015-06-29 15:25] Dynasty9 opened #40 "socketFor function does not allow for protocol parameter"
It's impossible to specify a protocol to connect to as per the websocket api passing Websocket(url, protocol).

[2015-06-29 15:52] thoov commented on #40
@Dynasty9 Thanks for bringing this up. I will add that shortly.

[2015-06-29 17:53] thoov commented on #40
@Dynasty9 If you download version 1.2.0 it will include my changes. You should now be able to do:

[code]

Let me know if this works for you

[2015-06-29 21:39] thoov commented on #39
If you update to the latest version (1.2.1) you will have this method to retrieve the readyState:

[code]

I created a simple node server that had a websocket app running on it. Below is the code I modified from you:

[code]

To test the reconnecting case I would kill my node server and it would cause the `closeHandler` to be called. I would then bring my node server back up and it was able to rec

[2015-06-30 09:48] Alimero commented on #39
I upgraded to 1.2.1 and added the above changes. It works. Thanks a lot!!

[2015-06-30 09:48] #39 closed

[2015-07-07 04:45] Dynasty9 commented on #40
Thanks thoov, checking it out now

[2015-07-07 05:04] Dynasty9 commented on #40
Works great! :+1:

[2015-07-07 05:04] #40 closed

[2015-07-08 11:16] DragorWW opened #43 "work without socket.io ?"
How to use this addon without socket.io
[code]

[2015-07-08 16:52] thoov commented on #43
@DragorWW thanks for finding this issue. I believe I have fixed it in the latest version (1.2.2) so if you could install that version you should fix your problem.

[2015-07-09 13:49] DragorWW commented on #43
I have tested all is well.

[2015-07-09 16:20] #43 closed

[2015-07-10 09:28] DragorWW opened #45 "Feature Request: DS adapter"
I writeing for my project websocket adapter. If need, i will can make pullRequest for this project.

[2015-07-23 07:45] bcecchinato opened #47 "Using socket.io service forces url to /socket.io"
Hi there !

I've integrated ember-websockets to use it in my ember project. But when using the socket-io service, the URI i use, is replaced. My code is the following :
[code]

On runtime the url called is ```http://10.112.244.221:8080/socket.io```. Have you already had this case ?
I'm using spring-websocket for the socket backend.

Thanks in advance.

Regards,

[2015-07-23 16:35] thoov commented on #47
Hi @bcecchinato thanks for opening this issue. Instead of doing this:

[code]

do this:

[code]

Here is a related stackoverflow question on the same thing: http://stackoverflow.com/questions/9729308/socket-io-connection-url

[2015-07-23 17:06] bcecchinato commented on #47
Thx for this answer. I'll try it tomorrow :+1:

[2015-07-31 09:21] bcecchinato commented on #47
I did some test, and it works :) But I've moved to sockjs because there is a better integration with spring.

[2015-07-31 09:21] #47 closed

[2015-09-30 10:22] TNAJanssen opened #50 "socketFor is not a function"
Error while processing route: client.payment.index this.get(...).socketFor is not a function TypeError: this.get(...).socketFor is not a function

      websockets: Ember.inject.service(),
      init: function() {
        this._super.apply(this, arguments);
        var socket = this.get('websockets').socketFor('ws://localhost:8080/');

        /*
         * 3) The final step is to define your even

[2015-09-30 11:50] TNAJanssen commented on #50
Sorry problem found! Was a problem with another service with the same name

[2015-09-30 11:50] #50 closed

[2015-10-06 17:52] Kledal opened #51 "Socket.IO adapter doesn't clean up on disconnect."
The Socket.IO adapter doesn't clean up on the disconnect event. This means that all the events that are created inside the ```on('connect')``` is going to be fired multiple times, because they are going to be created again each time the app reconnects.

A simple example:
1. Connect ember application to a server(node etc.) with the socket.io adapter.
2. put a console.log inside an event etc. ```on(

[2015-10-08 02:32] thoov commented on #51
@Kledal thanks for finding this. I am looking into this

[2015-10-08 03:05] thoov commented on #51
@Kledal So I tried to follow your instructions and this is what I have:

[code]

And then I have this node file:
[code]

However when I restart the node server I am not seeing the duplicated messages issue. Can let me know what i am doing differently then what you are doing.

[2015-10-08 07:59] Kledal commented on #51
Thanks for your time @thoov. Your small example made me realise what the problem maybe is.

I followed the documentation that gives the following example(look a code snippet below) on how to connect with Socket.IO. But your code example doesn't have the ```on('welcome')``` inside a ```on('connect')``` like mine do.

So I think that this is all about that the README is wrong.
[code]

[2015-10-08 08:09] Kledal commented on #51
I have just made a pull request which fixes the documentation.

[2015-10-08 18:12] #51 closed

[2015-10-09 20:58] JDillon522 opened #53 "Cannot reconnect after closeSocketFor()"
I have a socket set in one of my components and I have the following set:

[code]

If I dont close the socket this way when transitioning I get the following error:

Whats happening is that my socket connection is still listening for events from the API and its trying to call methods to set properties that were destroyed when I transitioned to another route.

So when I close the socket and return

[2015-10-09 21:03] JDillon522 commented on #53
also, trying to call `socket.socket.open()` above the connection event doesnt work either.

[2015-10-12 01:01] thoov commented on #53
@JDillon522 Can you download version 1.2.4 and see if you are still seeing this issue?

[2015-10-12 01:19] JDillon522 commented on #53
Awesome! That totally fixes it. For posterity's sake, and to suit my own curiosity, what was the underlying issue? I took a look at your changes but I'd love to "hear it from the horses mouth".

[2015-10-12 01:19] #53 closed

[2015-10-12 22:57] thoov commented on #53
There were 2 issues. The first is that when you close a socket it was setting the internal property `sockets` to a standard array instead of an ember array (https://github.com/thoov/ember-websockets/blob/f9e2dc2cbcc6657ba61dab5bbbda967333f3f0e5/app/services/socket-io.js#L84). This was causing an error whenever you transition back to the page as `pushObject` was not defined here anymore (https://gi

[2015-11-18 19:21] ryanbillingsley commented on #16
I agree with @yratanov that using promises would be a lot easier to use and feel more in line with the rest of Ember

[2016-01-06 22:58] sma202 opened #56 "websocket not open / connection"
I'm getting an exception on ember 2.2.0 when using the simple hello word example:

Uncaught Error: Assertion Failed: Cannot send message to the websocket while it is not open.

If I put a breakpoint on line 69 websocket-proxy.js then it works ok, otherwise it thinks the websocket is not open and will throw the assert.  This leads me to believe it is some kind of timing issue / race condition where

[2016-01-07 18:38] thoov commented on #56
@sma202 Thanks for finding this. I am looking into it now

[2016-01-07 18:44] thoov commented on #56
@sma202 could you post your controller or component so I can reproduce it on my side?

[2016-01-07 19:31] sma202 commented on #56
import Ember from 'ember';

export default Ember.Controller.extend({
  /*
  * 1) First step you need to do is inject the websocket service into your object. You
  * can inject the service into component, controllers, object, mixins, routes, and views.
  */
  websockets: Ember.inject.service('websockets'),

  init: function() {
    this._super.apply(this, arguments);

    /*
    * 2) The next step

[2016-01-18 15:08] d2rk commented on #56
+1

Just checked `socket.readyState()` before doing `send` and it returned `1`. However, once `send` has been called you get `assert`.

[2016-01-19 03:06] thoov commented on #56
@sma202 @d2rk, I am not able to reproduce this issue. I tested with this code below on both Ember 2.2 & 2.3:

[code]

[code]

Can you try the above code and see if you are still getting the error?

[2016-01-19 05:08] jatt opened #57 "Development environment setup"
I've forked the repo and tried to run tests, but I failed. Steps to reproduce:

1. Clone a fresh master
2. Run `npm install`
3. Run `bower install` (btw, this one is missing in README)

Result:

1. `ember t` gets stuck forever
2. `ember s` gives error "Ember Views require jQuery between 1.7 and 2.1" (while `jQuery.fn.jquery => "1.12.0"`)

I also noticed that `ember-cli` and `ember` versions are no

[2016-01-19 08:34] thoov commented on #57
@jatt Thanks for opening up the issue. I updated the readme to include the bower install and upgrade the project to the latest version of ember-cli (1.13.14).

I followed your steps but was not able to see your error. Can you try again with a new clone? Also can you let me know which version of node and environment you are using?

[2016-01-20 03:34] jatt commented on #57
Many thanks for the update, I tried another clone and everything works now. I also tried `npm test` previous time, and just noticed that it resolves to `ember try:testall` instead of `ember t`, maybe it could break my environment.

[2016-01-20 04:15] thoov commented on #57
@jatt Im glad its now working for you. Generally npm test is only used for travisCI as it is an easy way to test against the different environments (release, beta, canary) and ember test is better suited for day to day dev work. I would suggest just running ember test and not npm test unless you see travisCI failed.

[2016-01-20 04:15] #57 closed

[2016-01-21 04:12] jatt commented on #56
I have the same error, whenever I invoke `socket.send('msg')` I get error, while in the same time `socket.socket.send('msg')` succeeds.

Possible cause is that assert checks `this.readyState() === WebSocket.OPEN`, and according to Chrome console, `this.readyState() => 1` while `WebSocket.OPEN => function dispatchEvent() { [native code] }`

[2016-01-21 18:38] thoov commented on #56
I am still not able to see this issue. Can you provide your controller, template, and server code so I can run it locally?

[2016-01-22 05:51] jatt commented on #56
I just checked, if I open console in any random page, `WebSocket.OPEN` is `1`, but if I open console in my Ember CLI app, it is some function. Seems that something redefines it, so it doesn't look like an ember-websockets problem. This issue can be closed since it's not a bug, but I'll post a solution here once I find it.

[2016-01-22 06:03] jatt commented on #56
I did some debugging, and meet the nice guy who substitutes `window.WebSocket` with own stuff: https://github.com/HubSpot/pace. Case closed.

[2016-02-05 19:50] mmitchellgarcia opened #63 "'.' character in url causing Ember.set error in 2.3"
Hey guys, really awesome add-on. I'm having issues getting it set up though.

It looks like because Ember now supports nested getters/setters with '.' notation, the socketFor() function breaks when it tries to add the newly created SocketIOProxy to the cache. Here's the exact error:

`Property set failed: object in path "sockets.http://uniteable" could not be found or was destroyed. Error: Propert

[2016-02-05 20:57] thoov commented on #63
@mmitchellgarcia Thanks for finding this. What is the url that you are passing to socketFor?

[2016-02-06 04:07] mmitchellgarcia commented on #63
It is: "http://uniteable.com:3000"

[2016-02-08 19:49] #63 closed

[2016-02-08 19:51] thoov commented on #63
@mmitchellgarcia I just merged a fix for this. Can you try version 2.0.2 and see if that works for you?

[2016-02-10 00:46] mmitchellgarcia commented on #63
@thoov Works - thank you!

[2016-02-14 20:27] andriy-zhelvachenko opened #66 "This addon does not work if used within other addons"
Usually it throws app.import is not a function error

See here the generic problem and solution
https://github.com/ember-cli/ember-cli/issues/3718

It would be nice to have it fixed soon

[2016-02-17 22:36] thoov commented on #66
Thanks for opening this issue @andriy-zhelvachenko. Would you be able to provide a PR for the fix?

[2016-02-19 10:53] kunerd opened #68 "socketFor() sometimes returns WebSocket instead SocketProxy"
To reproduce open a socket connection and set your computer offline (e.g. by using offline mode in Firefox). Now call `socketFor()` again and it returns the plain `WebSocket` object instead of the proxy object.

[2016-02-19 22:19] andriy-zhelvachenko commented on #66
PR=?

[2016-02-19 22:20] andriy-zhelvachenko commented on #66
You probably meant "pull request", i.e. patch, right?

[2016-02-24 22:28] thoov commented on #68
@kunerd Thanks for finding this. I believe I have a fix for this. I will let you know once I push the fix to npm so you can test it.

[2016-02-25 00:36] thoov commented on #66
@andriy-zhelvachenko Sorry for the delay in getting back to you. Yes, by "PR" I meant pull request

[2016-02-25 06:13] jamesdixon commented on #66
@andriy-zhelvachenko works fine for me. just installed on ember 2.3 using ember cli 2.3

[2016-02-25 06:18] jamesdixon opened #70 "passing authorization token"
Hi,

Is there a recommended way to be able to pass an authorization token along with every request?

Thanks!
James

[2016-02-25 08:15] thoov commented on #70
Hi @jamesdixon

Off of the top of my head you could do something like this:

[code]

Basically create a wrapper function that you call instead of directly calling the send method. This way every time you call `authSend` a token can be added to the payload. Let me know if this helps.

[2016-02-25 18:07] jamesdixon commented on #70
Thanks, @thoov. I'll give it a shot!

[2016-02-26 20:52] #68 closed

[2016-02-26 23:01] evanphx opened #71 "Reconnect inside socketFor"
At present, `socketFor` can return closed Websockets and I think that's a bug. The reason is that https://github.com/thoov/ember-websockets/blob/master/app/services/websockets.js#L60-L67 does not check if the socket in the existing proxy is actually open before returning it.

Adding something like:
[code]

When seeing that an `existingProxy` is available would fix the problem.

[2016-02-29 20:06] thoov commented on #71
@evanphx Thanks for opening this issue. What you are describing is definitely a bug as `socketFor` should always return an open websocket (pending that it can actually connect to the backend).

I am a little confused without steps to reproduce as the socketFor method works as follows:

Check if there is an existing and open socket: https://github.com/thoov/ember-websockets/blob/master/app/services

[2016-02-29 22:53] evanphx commented on #71
Ah! I probably missed that new code because I've had this issue with older versions of ember-websockets. I'll have to try again with a version that has this code in it. Right now, I'm using a custom vendored version that looks like:

[code]

[2016-02-29 23:19] thoov commented on #71
@evanphx I see. Yes, this issue was brought up with #68 and I just recently fix it. The fix should be in 3.0.0

[2016-02-29 23:19] #71 closed

[2016-03-21 15:00] nanoart opened #72 "socket.reconnect is not a function"
Hi,

I am trying your ember-websockets, and using the reconnect example on https://github.com/thoov/ember-websockets. However I got "socket.reconnect is not a function" when running.

Many thanks,

Mike

Here is the piece of the code,

[code]

[2016-03-26 21:30] mmitchellgarcia commented on #72
Hey @nanoart - it looks like you need to include the socket in the [run.later function as an argument](http://emberjs.com/api/classes/Ember.run.html#method_later). I believe run.later requires you specify the context. Try this:

[code]

[2016-05-17 19:16] dowsanjack commented on #45
@DragorWW would be great if you can share that adapter here on point to your repo. Thanks!

[2016-05-30 13:44] urbany opened #73 "Bug: Incorrect OFF on socket.io events"
Hi, first of all thank you for the addon.
I noticed there is a bug on the socket.io proxy OFF method. On line: https://github.com/thoov/ember-websockets/blob/master/addon/helpers/socketio-proxy.js#L38
The correct way to check the socket.io url is `this.socket.io.uri` instead of `this.socket.io.url`:
[code]
Should be:
[code]

PS: On line https://github.com/thoov/ember-websockets/blob/master/addon/h

[2016-05-31 06:54] thoov commented on #73
Thanks for finding this @urbany! I will update shortly

[2016-06-07 23:28] #73 closed

[2016-06-16 09:05] sepetukas opened #75 "Attempting to watch missing directory: node_modules/mock-socket/src"
Just installed ember-websockets 4.0.0 and got this error 'Attempting to watch missing directory: node_modules/mock-socket/src'
 Any ideas how to solve it?

[2016-06-16 17:26] thoov commented on #75
@sepetukas thanks for finding this. Let me investigate

[2016-06-16 18:09] thoov commented on #75
@sepetukas Can you uninstall 4.0.0 and install 4.0.1 and see if that fixes your problem

[2016-06-17 04:57] sepetukas commented on #75
This fixed everything of course. Thx

[2016-06-17 05:56] thoov commented on #75
perfect. thanks for finding

[2016-06-17 05:56] #75 closed

[2016-06-25 17:40] acorncom commented on #72
@nanoart can this issue be closed?

[2016-06-25 17:41] acorncom commented on #70
@jamesdixon can this issue be closed?

[2016-06-25 17:42] acorncom commented on #66
@andriy-zhelvachenko can this issue be closed?

[2016-06-25 17:43] acorncom commented on #56
@jatt can this issue be closed?

[2016-06-25 17:45] jamesdixon commented on #70
I believe it can. It's been a while, but if I'll reopen if I need to. Thanks!

[2016-06-25 17:45] #70 closed

[2016-06-25 18:13] jatt commented on #56
I think so. Even if there is unexpected behavior, ember-websockets is not at fault. For future reference, fix is to disable Pace for Websocket connections.

[2016-06-27 06:04] #56 closed

[2016-06-30 23:35] nerdybeast opened #77 "socket.off() not working with socket.io"
ember v2.6.0
ember-websockets v3.0.0

The `socket.off()` method is not stopping the socket from listening when my component is torn down. After transitioning to another route that does not render this component, it is still listening.

I followed the instructions to a T here: https://www.npmjs.com/package/ember-websockets in setting this project up.  I also referenced the instructions here: https:

[2016-07-01 08:42] saerdnaer commented on #45
@DragorWW Any updates to on you websocket DS adapater project?

[2016-07-05 23:50] thoov commented on #77
@nerdybeast Thanks for opening this issue. Sorry for the delay in getting back to you. Can you try doing this:

[code]

If that does not work let me know and I can try to dig deeper.

[2016-07-06 04:08] nerdybeast commented on #77
@thoov that didn't seem to work but I also may have mislead you (sorry!), I am actually connecting to a socket namespace in this component:

[code]

Either way, I have tried passing `this` as a third argument but I can still that update method firing...

[2016-07-07 07:28] thoov commented on #77
@nerdybeast I created this example and the `off` method works for me:

[code]

Could you try running this and see if it works for you:

[code]

[2016-07-25 20:40] elidupuis opened #78 "Ping Pong frames"
Just wondering if you plan to support any control frames such as listening for a `ping` and automatically responding with a `pong`? https://tools.ietf.org/html/rfc6455#section-5.5.2

I'm a websockets newb so feel free to tell me this is out of scope or should be handled elsewhere...

[2016-07-27 06:08] thoov commented on #78
@elidupuis

[2016-07-27 06:08] #78 closed

[2016-08-07 08:42] Schnodderbalken opened #79 "Attempting to inject an unknown injection: `service:socket-io`"
I did exactly as it is told in https://github.com/thoov/ember-websockets/blob/master/docs/socket-io.md

In fact, my controller looks like this:

[code]

When I open the corresponding route the console output is as follows:

Attempting to inject an unknown injection: `service:socket-io`

Using ember 2.7.0

[2016-08-07 09:56] thoov commented on #79
Thanks for opening the issue @Schnodderbalken. I just tested against a blank app and everything seems to work fine. Did you run `ember g socket-io` and if so what was the output?

[2016-08-07 09:57] Schnodderbalken commented on #79
Thank you for the quick response. Yes, I ran the command which resulted in the following output:
[code]

[2016-08-07 10:04] thoov commented on #79
Both of those seem correct. This is strange.  Which version of ember-cli / node / npm are you using?

[2016-08-07 10:05] Schnodderbalken commented on #79
[code]

[2016-08-07 10:25] thoov commented on #79
I ran the setup on 0.12 and everything worked. Can you try 2 things. One, delete ember-websockets from node_modules and try running `ember install ember-websockets` & `ember g socket-io` again. Two, create a blank project via `ember new foobar` and run `ember install ember-websockets` & `ember g socket-io` inside that. I want to see if it is specific to your project. I will check back on this when

[2016-08-07 10:45] Schnodderbalken commented on #79
I deleted the ember-websockets folder in node_modules.
Then i executed `ember install ember-websockets`.

Output was:

[code]

So i executed `npm install`
Many things were successfully installed. I eventually ran `ember install ember-websockets` again

Output:

[code]

[2016-08-07 10:52] Schnodderbalken commented on #79
Okay now things get totally strange. After I stopped the new ember server and restarted the old one where I got the error stated above everything worked fine.
I should have tried just restarting the ember server. Seems to have anything to do with my local setup. Sorry for bothering you.

[2016-08-07 18:40] thoov commented on #79
@Schnodderbalken no worries. Glad you figured it out.

[2016-08-07 18:40] #79 closed

[2016-08-09 13:40] Schnodderbalken commented on #45
I started something basic for socket.io based on another gist. Maybe you guys can use it? https://gist.github.com/Schnodderbalken/40114a2e500ae27864c6b4ae9688d3f2

[2016-08-23 18:23] steveszc opened #83 "Add compatibility with FastBoot"
Socket.io client is causing issues in FastBoot due to direct usage of the Navigator object. There may be other issues that need to be resolved too.

Add-on will need to be updated according to the advice here: http://ember-fastboot.com/docs/addon-author-guide

[2016-08-25 19:10] sgmurphy opened #85 "Unexpected behavior when using emit() with four arguments"
The socket.io `socket.emit()` method accepts an [arbitrary number of arguments](https://github.com/socketio/socket.io-client/blob/master/lib/socket.js#L140).

Ember-websockets should support the same functionality, and in most cases it does. However, when four arguments are passed to `SocketIOProxy.emit()` the method [assumes the third argument is a function and the fourth is the context](https://

[2016-08-26 18:32] thoov commented on #85
@sgmurphy Thanks for finding this. Let me fix it later today

[2016-08-26 19:49] #85 closed

[2016-08-26 19:56] thoov commented on #85
@sgmurphy Can you try installing version 5.0.0 and see if that solves your issue?

[2016-08-29 14:20] sgmurphy commented on #85
That fixed it, thanks! 👍

[2016-09-06 04:57] benjcalderon opened #88 "duplicated events when using {{input}}"
When I call `socket.send` and in the action I'm using values from `{{input}}` I receive duplicated messages from the server.

But if, in the action, I get the values using JQuery it works as expected.
See test app [here](https://github.com/benjcalderon/ws-test/commit/6209ef3b954e52e9362e9e438040808721bcc32f)

[2016-09-06 05:46] jasonmit commented on #88
@benjcalderon in the example code, you likely don't want to subscribe w/ `didRender`.  This gets called each time a render happens which won't map 1-1 with `willDestroyElement` so you keep setting up new subscribers every time the component renders.

Try using `didInsertElement` here instead, or not load your data via a component.  Perhaps README should be updated to reflect setting up a socket co

[2016-09-06 11:32] benjcalderon commented on #88
@jasonmit you are a lifesaver!! yep, it works perfectly with `didInsertElement`. I'll submit a PR with an updated README. Thanks a lot!

[2016-09-06 11:32] #88 closed

[2016-09-22 11:25] qknight opened #96 "Uncaught UnrecognizedURLError: /sockets/chatroom"
# chromium Version 52.0.2743.116 (64-bit)

when i visit:

[code]

i see this error message in the javascript console:

[code]
# ember s

[code]

[2016-09-22 11:30] qknight commented on #96
using the ember inspector is see:

    http://localhost:4200/sockets/example

is the new route, maybe the old route should also be there or the README.md should be updated.

# README.md

    Then visit http://localhost:4200/sockets/chatroom to view a very simple example.

should be

    Then visit http://localhost:4200/sockets/example to view a very simple example.

[2016-10-05 20:18] steveszc commented on #83
@thoov When do you expect to cut a new release that includes #84?

[2016-10-05 20:47] thoov commented on #83
@steveszc Let me cut it right now. I will comment on this once its done.

[2016-10-05 21:08] thoov commented on #83
Just published. Version 6.0.0 should have your changes

[2016-10-05 21:08] #83 closed

[2016-10-06 03:44] steveszc commented on #83
Awesome, thanks. I see the 6.0 release on NPM but not in the GitHub releases... is that expected?

[2016-10-06 18:12] thoov commented on #83
Ya that is expected. It shouldn't impact downloading from NPM

[2016-11-17 10:33] wutgit opened #104 "Existing proxy reuse does not create new listeners"
It seems that when you call socketFor second time for the same url (after the connection has been closed), proxy instance is reused, and new Websocket is assigned to it, but new listeners are not setup for new Websocket (this is done in proxy's setupInternalListeners, which is called only on init and in reconnect method).

This is the code:
[code]

Simply replacing socket is not enough, as new set

[2016-11-21 14:52] Vazgen7788 opened #105 "Can't use ember-websockets as an addon dependency."
I want to create new addon which will depend on ```ember-websockets``` addon. Here are steps which I tried.

1. Create new addon ```ember-example-addon``` .
2. Install ```ember-websockets``` addon in ```ember-example-addon``` with current command
[code]
3. Move ```"ember-websockets": "6.1.0"``` from **devDependencies** to **dependencies** in ```ember-example-addon``` .

Want to compile  ```ember-e

[2016-11-21 18:57] thoov commented on #105
Thanks for reporting this issue @Vazgen7788. Let me take a look into this

[2016-11-21 23:28] #105 closed

[2016-11-21 23:30] thoov commented on #105
Can you try with ember-websockets@6.2.0 and see if that works for you?

[2016-11-22 09:01] Vazgen7788 commented on #105
Thanks very much for help @thoov . It fixed partly. I'm working in local environment and installing my addon to  ember application using ```npm link``` . Here are what happens ...

1.  Init new ember addon
[code]
2 Install ember-websockets  in ```addon-with-ember-websockets```
[code]
3. Move ```ember-websockets``` from **devDependencies** to **dependencies**  .
4. Make ```addon-with-ember-websocke

[2016-11-22 10:52] Vazgen7788 commented on #105
I found the solution for my case. I can download and modify ember-websockets addon . And generally my addon will depend on ember-websockets.. :) Thank you again for help.

[2016-11-22 12:04] Vazgen7788 commented on #105
Thank you very much. Now everything is ok.

[2016-11-26 09:15] #96 closed

[2016-11-27 23:09] greenkeeper[bot] opened #108 "An in-range update of socket.io is breaking the build 🚨"
## Version **1.7.1** of [socket.io](https://github.com/socketio/socket.io) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/ember-websockets/compare/greenkeeper%2Fsocket.io-1.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      socket.io
    </td>
  </tr>
  <tr>
    <th align=lef

[2016-11-28 17:23] greenkeeper[bot] opened #109 "An in-range update of ember-data is breaking the build 🚨"
## Version **2.10.0** of [ember-data](https://github.com/emberjs/data) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/ember-websockets/compare/greenkeeper%2Fember-data-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-data
    </td>
  </tr>
  <tr>
    <th align=left

[2016-11-29 01:03] mrkongo opened #110 "Any tought about Rails ActionCable?"
How to integrate?

[2016-11-29 07:53] thoov commented on #110
I am unsure if you are able to connect via a standard websocket connection as I'm not completely sure what Action Cable is doing under the hood. My first thought would be to try and connect via something like this:

[code]

[code]

And see if any of the event handlers are called. Other than that I would need an example rails app to look at as I'm not very familiar with Rails and Action Cable.

[2016-11-29 09:26] Schnodderbalken opened #111 "Uncaught ReferenceError: io is not defined"
I had ember-websockets running, everything was fine. Then I wanted to run my ember application on another device. There I got the following error in the browser:

`socket-io.js:12 Uncaught ReferenceError: io is not defined
    at Class.createSocket (http://localhost:4200/assets/vendor.js:85187:25)
    at Class.socketFor (http://localhost:4200/assets/vendor.js:85253:31)
...`

In the line
` var newS

[2016-11-29 16:12] htycm opened #112 "Socket.io problem"
I am very new to Ember and web development. Thanks for your addon, it works almost great for me! Just a few questions.
1. In the documentation, under socket.io support section, when you do willDestroyElement(), do you mean to say const socket = this.get('socketIOService').socketFor('http://localhost:7000/'); instead of socketService?

2. On my server side I setup an setInterval(socket.emit('messag

[2016-11-29 17:05] htycm commented on #112
Using controller instead of component solved my problem 2.

[2016-11-29 17:05] #112 closed

[2016-11-29 17:35] greenkeeper[bot] opened #113 "An in-range update of ember-cli-htmlbars is breaking the build 🚨"
## Version **1.1.1** of [ember-cli-htmlbars](https://github.com/ember-cli/ember-cli-htmlbars) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/ember-websockets/compare/greenkeeper%2Fember-cli-htmlbars-1.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-htmlbars
    <

[2016-11-29 20:00] mrkongo commented on #110
Dear @thoov, it works, but partially.

I receive this:

![image](https://cloud.githubusercontent.com/assets/20625823/20726424/d378acfc-b675-11e6-8473-6cc2dc5103b6.png)

and also if I generate "events" in my Rails application and using "redis-cli" monitor I see messages I don't receive that messages in my console. Why?

I have made this little change:

[code]

note the **`.data`** after `event`.

M

[2016-11-30 00:27] thoov commented on #111
Thanks @Schnodderbalken for opening this issue. The socket.io-client library which ember-websockets uses was updated and the location of the file was changed without my knowledge. I have a PR (#116) which will hopefully fix this and will push a new version out once its merged.

[2016-11-30 00:46] #113 closed

[2016-11-30 00:46] #109 closed

[2016-11-30 00:46] #108 closed

[2016-11-30 01:04] thoov commented on #111
Can you try version 6.2.1 and see if that fixes your issue?

[2016-11-30 19:33] Schnodderbalken commented on #111
Well, somehow I still get the above mentioned error. I changed the package.json entry to `"ember-websockets": "6.2.1"`. I removed all cached npm and bower modules and re-installed them. Still no success :-(

[2016-11-30 21:09] #111 closed

[2016-11-30 21:11] thoov commented on #111
@Schnodderbalken My fix in #116 included the wrong path (my mistake). I have now fixed it in #117 and push a release 6.2.2. I verified that io was found so this issue should now be fixed. Can you check one last time. Thanks!

[2016-11-30 23:12] #77 closed

[2016-12-01 05:33] Schnodderbalken commented on #111
Now it works. Thanks for your quick reaction :) 👍

[2016-12-25 19:29] maheshiv opened #119 "Uncaught ReferenceError: io is not defined"
I am using ember-websockets v4, mock-socket v3 in my application. I am able to connect to the socket(in server) successfully from other applications. When I used ember-sockets, I am getting `io is not defined` error.
Stack error,
Inside services/socket-io.js file
[code]

[2016-12-28 06:55] thoov commented on #119
Hi @maheshiv. Sorry you are running in this error. Are you able to upgrade ember-websockets to v6.2.2? I have fixed a similar issue (https://github.com/thoov/ember-websockets/issues/111) and release the fix for it in that version

[2016-12-30 23:26] victorlin opened #121 "closeSocketFor doesn't remove websocket from cache as promised in README"
`closeSocketFor` won't remove the websocket from cache as promised in README.

So, if you do something like

[code]

then get it back again

[code]

You will get exactly the same websocket proxy object. As a result, it won't make a new connection to your websocket server.

[2017-01-02 19:35] jstoup111 commented on #119
I had 6.3.0 and it didn't work.

[2017-01-02 21:48] #121 closed

[2017-01-03 09:25] thoov commented on #119
@jstoup111 Could you run `bower install --save socket.io-client` in your project and see if that help?

[2017-01-03 16:38] jstoup111 commented on #119
I'm not sure what ended up causing the issue but it's working after I uninstalled and reinstalled.

[2017-01-08 07:59] naveenagarwal opened #124 "Can not establish connection to 7000 port"
I am new to emberJS and trying to get my hands on realtime push from emberjs server.

I installed this add on and ran the ember server "ember s"

And on page where I initialize the websockets i get the error in browser

"WebSocket connection to 'ws://localhost:7000/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED"

I have just add the sample code from the readme page into o

[2017-01-08 09:40] naveenagarwal commented on #124
So I have to boot the another nodejs server which sends data to clients. Got it working, So closing the issue for now. In case there is way to run the websocket server in same ember server then please reopen this issue and let us all know.

[2017-01-08 09:40] #124 closed

[2017-02-24 20:41] greenkeeper[bot] opened #129 "An in-range update of loader.js is breaking the build 🚨"
## Version **4.2.0** of [loader.js](https://github.com/ember-cli/loader.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/ember-websockets/compare/greenkeeper%2Floader.js-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      loader.js
    </td>
  </tr>
  <tr>
    <th align=le

[2017-03-02 19:39] greenkeeper[bot] opened #130 "An in-range update of broccoli-merge-trees is breaking the build 🚨"
## Version **1.2.2** of [broccoli-merge-trees](https://github.com/broccolijs/broccoli-merge-trees) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/thoov/ember-websockets/compare/greenkeeper%2Fbroccoli-merge-trees-1.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      broccoli-merge-tr

[2017-03-19 10:10] #130 closed

[2017-03-19 10:10] #129 closed

[2017-03-29 01:22] mattstone opened #139 "7.0.1 & websockets - unable to find socket.io.min.js"
Process to replicate issue

1. create new ember app - ember new test app
2. cd testapp
3. ember s successfully runs the server
4. install ember-websockets - ember install ember-websockets & npm install
5. ember s successfully runs the server
6. update config/environment.js to load web sockets
7. ember s now throws error.

Looking in the tmp/source_map_concat-input_base_path-Ij5PCZFx.tmp directory,

[2017-03-29 08:40] Ebsy commented on #139
+1 on this. I had this problem yesterday after upgrading. I'm pretty sure it's just in the new index.js where you're requiring the socket.io dist files (older version references the 'dist' folder explicitly, new version doesn't that's the problem) I simply downgraded back to 7.0.0 and all is good

https://github.com/thoov/ember-websockets/commit/602acd170d4e541c12dbef3e3075b9464d2c0402#diff-168726

[2017-03-29 18:10] thoov commented on #139
@mattstone @Ebsy Thanks for reporting this issue. I can reproduce it and I am working on a solution. Should be fixed today and I will leave a comment here once I push the fix to npm.

[2017-03-29 20:57] #139 closed

[2017-03-29 21:04] thoov commented on #139
I just published v7.0.2 which should fix this. Let me know if you guys are running into this still.

[2017-03-29 23:25] mattstone commented on #139
All good here. Thanks for the speedy response.

[2017-05-02 00:45] doughsay commented on #72
I don't think so. `socket.socket.io.reconnect();` is reaching into socket.io internals.  The API described in this addon is: `this.get("myService").socketFor(sockerUrl).reconnect();`.  This function does not exist like the README implies that it does.

[2017-05-02 00:47] doughsay commented on #72
Just looked into it more closely.  The `reconnect` function is defined for the websocket proxy but NOT for the socket.io proxy.  Can we get this fixed @thoov?

[2017-06-13 10:51] mervinva opened #143 "Implement sub protocol STOMP"
How to implement STOMP using the addon ?

[2017-06-19 14:09] BryanCrotaz commented on #66
I've just provided a PR fix for this

[2017-06-21 15:09] BryanCrotaz opened #146 "not working as a dependency of an addon"
create an addon
add `ember-websockets` as a dependency
Use the addon in an app.

Build time error:
[code]
this.app is undefined in the build step?

[2017-07-16 22:36] JonathanBristow commented on #146
Has this been looked in to? I'm having the same problem and was just about to fork and debug it.

[2017-07-17 21:52] #146 closed

[2017-07-18 16:29] stefanpenner opened #148 "idea: error if accidentally used in fastboot with a good error message"
Maybe detect here:
https://github.com/thoov/ember-websockets/blob/24c02682f19aa57d6a1b9909206f4f866b48c279/addon/services/websockets.js#L27

And throw something like `new Error('ember-websockets are unavailable in fastboot')` or something. Maybe even a link to the readme on strategies for dealing with this stuff.

[2017-08-18 03:41] Argun opened #150 "How to specify binary type?"
I saw this feature implemented long time ago, but I can't found how to set binary type in version 7.0.4. Did I miss something?

[2017-09-29 07:58] vitalets commented on #16
Maybe it would be reasonable to take this promise-based websocket wrapper: https://github.com/vitalets/websocket-as-promised

[2017-10-21 20:02] peavers commented on #143
Would also like to know...

[2017-10-23 11:18] Dan-Ste commented on #143
I'm also curious to know

[2017-10-25 22:23] thoov commented on #143
I do not have any knowledge of STOMP so if any of you could add to this it would be great. Basically 1 of 2 things has to happen:

1) Implement STOMP with native window.WebSockets. After researching for just a few minutes this doesn't seem like passing 'STOMP' as a protocol such as `new WebSocket('ws://example.com', ['STOMP']);` will work (again correct me if I'm wrong). If this assumption is true

[2017-10-25 22:36] peavers commented on #143
I've hacked STOMP into my ember app in the following way, it's dirty and quick but works as an example/something to work from for anyone looking.

I'm using the following libraries;
[code]
Then on any route it's as simple as doing
[code]
There is plenty wrong with the above code, and as @thoov  said looking at how he's implemented `socket-io` and implementing a solution such as that would be the w

[2017-10-26 07:05] Dan-Ste commented on #143
I use STOMP the same way as @peavers showed with Java Spring and its STOMP implementation on the backend.

[2017-12-20 02:33] pcambra opened #153 "New release for 2.6/2.17"
Hi,

Would you mind making a release compatible with the new modules API, the changes that were included in:

https://github.com/thoov/ember-websockets/commit/e8481a7eacf8bab12a572ebf0b6851b2f74ac751

Otherwise when using 2.16/2.17, it needs to be included this way

[code]

Thanks

[2017-12-20 03:27] pcambra opened #154 "Unable to find socket.io.min.js"
I think the changes in https://github.com/thoov/ember-websockets/commit/998a98750e68b708004d4c6381f5fa1d45723aa2#diff-168726dbe96b3ce427e7fedce31bb0bc have caused a regression that makes the error fixed in https://github.com/thoov/ember-websockets/pull/139 reappear.

I am not using fastboot and if I enable the socketio parameter in config environment, I get:

```Error: ENOENT: no such file or dire

[2017-12-20 03:34] pcambra commented on #154
Here's a PR that includes Fastboot and the IO right path https://github.com/thoov/ember-websockets/pull/155

[2017-12-20 06:59] thoov commented on #153
@pcambra Thanks for the issue. I published a new release (7.1.0). Can you try it out and let me know if it helps you out.

[2017-12-21 01:08] pcambra commented on #153
[code]

[2017-12-21 06:49] pcambra commented on #154
Unfortunately because socket-io has been upgraded to 2.0, the problem has come back, added a PR to fix it https://github.com/thoov/ember-websockets/pull/157 because the min file is now slim (see https://github.com/socketio/socket.io-client/releases/tag/2.0.0)

[2017-12-22 05:23] pcambra commented on #153
Can confirm that 7.1.1 handles this issue

[2017-12-22 05:23] #153 closed

[2017-12-22 05:24] pcambra commented on #154
Release 7.1.1 includes this change and everything works great from 2.17, many thanks @thoov

[2017-12-22 05:24] #154 closed

[2018-02-06 08:43] #37 closed

[2018-03-03 01:11] seansellek opened #158 "Make socket.io optional"
Instead of making socket.io a dependency of this package directly, allow the consuming application to decide if it wants to use socket.io, and leave the responsibility of importing socket.io to it.

[2018-03-21 08:48] tvansteelandt opened #159 "Force new socket.io connection"
Hi

I'm trying to have multiple connections to the same server.
The socket.io docs say there's an option to force a new connection.
This doesn't work:

`let socket = this.get('socketIOService').socketFor('http://localhost:3000', {
      'forceNew': true
    });`

Has anyone experienced this?

[2018-07-17 16:58] scottkidder opened #164 "Release new version"
It would be awesome to get a release cut that includes the ember upgrades. :tada:

[2018-07-17 21:08] thoov commented on #164
Just published 7.2.0

[2018-07-17 21:08] #164 closed

[2018-07-17 21:24] scottkidder commented on #164
Thanks @thoov

[2018-08-02 13:56] GavinJoyce commented on #66
@andriy-zhelvachenko if you include the following in the app config it should work:

`
'ember-websockets': {
   socketIO: true
 },
`

Here's [the check](https://github.com/thoov/ember-websockets/blob/849c642f011826f3d3a668e1a599c461da690cc1/index.js#L19-L21) in source

[2018-09-19 18:06] Aaronfischer opened #166 "Browser Support (IE 11)"
What is the browser support for this addon, I don't see anything within the readme? I assumed it would follow a combination of ember/websocket-native support?

Is there any special requirements/setup for websocket support in IE 11? This doesn't seem to be working for us within our application. Thanks!

ember-websockets 7.0.4
ember 2.16.2

[2018-09-19 18:18] Aaronfischer commented on #166
I may have spoken too soon, this seems to be working. :) whoops!

[2018-09-19 18:18] #166 closed

[2019-01-03 13:05] ramster-vinka opened #167 "Losing websocket callback handlers when calling socketFor"
Using SocketIO. I wonder if I'm using this correctly, but I'm losing callbacks in the actual socket object when socketFor is called during the socket is in disconnected state and the proxy object is updated with a new socket instance.

Initialize:
[code]

After this `socket.listeners` and `socket.socket._callbacks` contain all the added listeners.

Now if socket gets disconnected and I call again:

[2019-01-16 14:22] drummy2 opened #168 "Cannot read property 'commit' of null"
I followed the install guide...

ember install ember-websockets

I copied the example component and then called the component in my template.  I would expect sensible "could not connect" but instead get some error about Cannot read property 'commit' of null.

It looks like it is attempting to get some ._env?

[2019-01-17 06:59] thoov commented on #168
@drummy2 Thanks for the issue. I just ran the following steps:

[code]

Then I copied the example component into the app started the server. I get the following message: "WebSocket connection to 'ws://localhost:7000/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED". This is the expected behavior. Could you send me the steps you ran which resulted in that error?

[2019-01-17 09:51] drummy2 commented on #168
I didn't really do much which is why I think I am missing a step or have forgotten something.
I am working in an addon dummy app so...

[code]
Then copied and pasted the example into my component.
Then added my component to the application handlebars and ran the addon using

`ember s`

[2019-01-21 00:33] thoov commented on #168
I tested on ember-cli & ember-source 3.7.0 and this appear to be working correctly. I then downgraded to the versions that you listed (ember-cli 3.0.2 & ember-source 3.0.0) and was able to see the error. Generally I try to only support back to the current LTS version which would be (3.4). Is it possible to use a newer version of ember-cli?

[2019-01-21 00:43] #66 closed

[2019-01-21 00:59] #45 closed

[2019-01-21 05:57] #110 closed

[2019-01-21 05:57] #104 closed

[2019-01-21 06:09] #119 closed

[2019-01-21 06:13] #150 closed

[2019-01-21 06:13] #143 closed

[2019-01-21 06:38] #72 closed

[2019-01-21 06:38] #16 closed

[2019-01-21 08:12] #159 closed

[2019-01-21 08:12] #158 closed

[2019-01-21 08:13] #148 closed

[2019-01-21 09:53] drummy2 commented on #168
I certainly can upgrade to 3.4, I will  do that now.  Thank you for your help @thoov

[2019-01-21 09:53] #168 closed

[2019-02-18 18:56] William-Daniels1995 opened #170 "Getting the error io is not defined"
@at Class.createSocket (socket-io.js:13)

[2019-02-18 19:12] William-Daniels1995 commented on #170
Forgot the env variable, works fine now

[2019-02-18 19:12] #170 closed

[2019-06-19 01:48] sethphillips opened #171 "closeSocketFor does not destroy the web socket and causes memory leak"
we tracked down a memory leak in our application that led us to sockets hanging around.  turns out that the `delete get(this, 'sockets')[cleanedUrl];` removes the reference but does not destroy the proxyObject.  Getting that socket proxyObject and calling `destroy()` on it does remove it from memory though.
Happy to submit a PR if you need.

[2020-04-27 20:35] amiarSlimane opened #172 "ReferenceError: io is not defined"
[code]
[code]

it works in a new empty project, but the one i working on , does not work, the same ember version,
i think other dependencies causing this issue

[2020-05-18 20:18] lljr opened #174 "Plans on upgrading to Ember Octane?"
Is this in roadmap?

[2020-08-31 21:05] cmackenz commented on #171
@sethphillips how are you destroying the `proxyObject`?

[2020-08-31 21:09] sethphillips commented on #171
`@service websockets;
//...... random code
let socket = this.websockets.socketFor(someurl);
//...... random code
socket.destroy()`

[2020-08-31 21:12] cmackenz commented on #171
@sethphillips thanks!

[2020-09-12 03:17] ErvinSabic commented on #174
Would also like to know.

[2020-09-15 07:43] #174 closed

[2020-09-15 07:45] thoov commented on #174
@lljr, @ErvinSabic I have landed octane support on master. I plan on doing some clean up items then releasing a v8.0.0 with octane support. I hope to have that version release this week.

[2020-12-08 19:08] gabrielcsapo commented on #172
same issue here :(

[2020-12-08 19:59] gabrielcsapo commented on #172
I fixed the issue by using socket.io-client and ember-auto-import instead of this library @amiarSlimane

[2020-12-12 18:58] mpanic commented on #172
Same error happens for me when I use `ember-websockets` v 8.0
If I switch back to v 7.2.0 everything works fine.
What changed in the 8.0 release?

[2021-01-04 23:53] jcardali commented on #172
I am experiencing the same issue upgrading from 7.2.0 to 8.0.0.

To me it seems most likely that the break may have been introduced [here](https://github.com/thoov/ember-websockets/pull/190/files#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346L33-L79), though it looks like a noop to me.

@thoov Any thoughts?

[2021-04-10 08:33] progand commented on #172
Downgrading to 7.2.0 fixes the issue for me

[2022-05-12 14:14] #172 closed

[2022-06-01 20:21] pabloascarza opened #243 "Error updating to 10.2.1 socket.on('connect') event not firing"
Hi i updated to 10.2.1 and the 'connect' event are not firing anymore . I saw there is a fix in 10.2.1 but using this version didn't change the behaviour.

[2022-07-27 13:27] rwwagner90 commented on #243
@pabloascarza I unfortunately do not know much about this stuff. Any chance you could provide an example for debugging?